<div class="col-sm-12">
    <div id="form-container">    
		<ul id="enter-song-info">
	      	<li id="song-info-header">Enter song info:</li>
	      	<li>Title:</li>
	      	<li><input type="text" id="song-title" placeholder="Enter title here" ng-model="newSong.title"></li>
	      	<li>Artist:</li>  
	      	<li><input type="text" id="song-artist" placeholder="Enter artist here" ng-model="newSong.artist"></li>
	      	<li>Album:</li>  
	      	<li><input type="text" id="song-album" placeholder="Enter album here" ng-model="newSong.album"></li><li>Genre:</li>  
	      	<li><input type="text" id="song-genre" placeholder="Enter genre here" ng-model="newSong.genre"></li>	
	      	<li><button id="add" ng-click="addSong()"><span class="glyphicon glyphicon-music" aria-hidden="true" ></span> Add</button></li>
	    </ul>
	</div>
</div>