#main-header {
  width: 800px;
  margin: 30px 92px 0 92px;
  background-color: #ffb4b0;
  border: 2px solid black;
}

#invisible-header {
  width: 100%;
  visibility: hidden;
}

#nav-bar {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  margin: 20px 0 20px 20px;
}

ul#nav-bar li {
  text-align: center;
  margin: 1px;
  display: inline;
  padding-left: 5px;
}

ul#nav-bar li a {
  text-decoration: none;
  color: black;
}

.leftnavborder {
  border-left: 2px solid black;
}

/*------------SIDE NAV---------------*/

#side-nav {
  width: 186px;
  height: 371px;
  background-color: #4dd7fa;
  border: 2px solid black;
  margin: 15px 15px 0 94px;
}

label {
  display: block;
}

.inner-side-nav {
  padding: 17px 13px 0;
}

#checkbox-style-left {
  width: 65px;
  float: left;
}

#checkbox-style-right {
  width: 80px;
  float: right;
}

input[type="checkbox"] {
  display: inline-block;
}

.clear-float {
  clear: both;
}




