{{#each songs}}
<div class="song-container">
	<h2 class="song-title">{{title}}</h2>
	<ul class="song-info">
		<li class="song-artist">Artist: {{artist}}</li>
		<li class="song-album song-info-border">Album: {{album}}</li>
	</ul>
	<button id="{{@key}}" class="delete-button">Delete</button>
</div>
{{/each}}
