body {
  /*  display: flex;*/
  background: url("../images/lights-party-dancing-music.jpg") no-repeat center center fixed;
  background-size: cover; }

/*------------HEADER---------------*/
#top-header {
  /*  z-index: 2;*/
  /*  position: fixed;*/
  width: 100%;
  background: radial-gradient(#fff, #6679a7);
  /*  margin: 30px 92px 0 92px;*/
  top: 0;
  left: 0;
  box-sizing: border-box; }

#invisible-header {
  width: 100%;
  height: 200px;
  visibility: hidden;
  margin-bottom: 1px; }

h1 {
  font-size: 3em;
  font-family: Lobster, cursive;
  color: #fff;
  margin-bottom: 15px;
  margin-left: 15px;
  text-shadow: 2px 2px 2px black; }

#discription {
  font-size: 1.2em;
  font-family: Lobster, cursive;
  color: #fff;
  float: right;
  margin-top: 60px;
  margin-right: 15px; }

#discription h3 {
  font-weight: normal;
  text-shadow: 1px 1px 1px black; }

#bottom-header {
  background: #22436d; }

#nav-bar {
  text-align: center; }

#nav-list {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  padding: 0;
  width: 300px;
  margin: 20px auto; }

ul#nav-list li {
  text-align: center;
  margin: 1px;
  display: inline;
  padding-left: 5px; }

ul#nav-list li a {
  text-decoration: none;
  color: #fff; }

ul#nav-list li a:hover {
  text-decoration: underline; }

.leftnavborder {
  border-left: 2px solid #fff; }

/************SONG INFO************/
#enter-song-info {
  width: 25%;
  background: #ecf0f1;
  color: black;
  margin: 5px auto;
  padding: 5px;
  border-radius: 20px;
  box-shadow: inset 0 0 5px #0d1723;
  transition: all 1s ease-in-out; }

#enter-song-info li {
  margin: 10px 0 10px 15px; }

#enter-song-info li:last-child {
  margin: 25px;
  text-align: center; }

#song-info-header {
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
  text-decoration: underline;
  margin: 5px; }

.hidden {
  display: none; }

#add {
  font-size: 1.2em;
  width: 75px;
  border: none;
  color: #fff;
  background-color: #22436d;
  text-shadow: 1px 1px 1px black;
  transition: background-color .3s; }

#add:hover {
  background-color: #6679a7; }

/*------------SIDE NAV---------------*/
#side-nav {
  z-index: 2;
  min-width: 200px;
  opacity: .9;
  width: 200px;
  background: #ecf0f1;
  color: black;
  margin: 15px 25px 0 50px;
  padding: 5px;
  border-radius: 20px;
  box-shadow: inset 0 0 8px #0d1723; }

label {
  display: block; }

.inner-side-nav {
  padding: 17px 13px 0; }

#checkbox-style-left {
  float: left; }

#checkbox-style-right {
  float: right; }

input[type="checkbox"] {
  display: inline-block; }

input[type="submit"] {
  margin: 34px 0 0 40px; }

.clear-float {
  clear: both; }

ul {
  list-style-type: none;
  padding-left: 0; }

/*----------------MAIN WINDOW----------------*/
#main-window {
  position: relative;
  z-index: 2;
  min-width: 500px;
  opacity: .9;
  width: 60%;
  background: #ecf0f1;
  color: black;
  margin: 15px 0 0 25px;
  padding: 5px;
  border-radius: 20px;
  box-shadow: inset 0 0 8px #0d1723; }

#song-container {
  margin-left: 15px; }

p {
  font-size: 1.1em;
  color: #785616;
  margin-left: 30px;
  margin-bottom: 10px; }

.song-info {
  list-style-type: none;
  font-size: .9em;
  margin: 0 0 0 25px;
  padding: 0;
  display: inline-block; }

ul.song-info li {
  text-align: center;
  margin: 1px;
  display: inline;
  padding-left: 5px; }

.song-info-border {
  border-left: 2px solid black; }

.delete-button {
  margin-left: 10px;
  border-radius: 15px;
  border: none;
  color: #fff;
  background-color: #22436d;
  text-shadow: 1px 1px 1px black;
  transition: background-color .3s; }

.delete-button:hover {
  background-color: #6679a7; }

#more-button {
  display: block;
  font-size: 1.2em;
  margin: 15px auto;
  border: none;
  color: #fff;
  background-color: #22436d;
  text-shadow: 1px 1px 1px black;
  transition: background-color .3s; }

#more-button:hover {
  background-color: #6679a7; }

/*# sourceMappingURL=main.css.map */
